* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-family: 'Pridi', serif;
    background: #000000;
    overflow-x: hidden;
    color: #080E33;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
    background: #000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    letter-spacing: 6px;
    text-align: center;
    color: #fff;
    margin: 3rem;
}

.submit {
    position: sticky;
    top: 40px;
}

.input-value {
    background: none;
    border: none;
    width: 200px;
    height: 50px;
    outline: none;
    font-size: 18px;
    margin-bottom: -10px;
}

.greetings {
    text-align: center;
}

.greetings p{
    color: #777
}

.fa-search {
    margin-top: 10px;
    transition: 1s linear;
    font-size: 16px;
    color: #777;
}

.fa-search:hover {
    transform: scale(1.2);
}

.bar {
    border: 1px solid #9999;
    position: absolute;
    width: 190px;
} 

.weather-info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    color: #e6e6e6;
}

.weather-info p {
    font-size: 16px;
    letter-spacing: 2px;
}

.fa-bolt {
    margin: 20px;
    font-size: 50px;
    color:  #6097c2;
}

.name {
    margin: 16px;
    font-size: 1rem;
    width: 100%;
    text-align: center;
    letter-spacing: 15px;
    color: #fff;
}

.clouds {
    margin: 50px;
}

.hum {
    margin: 40px;
} 

.wind {
    margin: 40px;
}

.desc {
    margin: 40px;
}

.temp {
    font-size: 5rem;
    margin: 40px;
}

.fa-spinner {
    font-size: 30px;
    position: absolute;
    top: 8rem;
}    

.date {
    font-size: 20px;
    color: #e6e6e6;
}



@keyframes spin {
    100% {
        transform: rotateZ(360deg);        
    }
}
  
.container {
    margin: 0 auto;
}

.container .search-input {
    position: relative;
    width: 100%;
    border-radius: 30px;
    margin: 20px;
}

.container .search-input input {
    font-size: 16px;
    border-radius: 5px;
    outline: none;
    border: none;
    color: #fff;
}

.container .search-input .autoComplete-box {
    max-height: 280px;
    padding: 0px;
    opacity: 0;
    pointer-events: none;
    overflow-y: auto;
    color: #fff;
}

.container .search-input .autoComplete-box li {
    width: 100%;
    list-style: none;
    padding: 10px 12px;
    cursor: default;
    border-radius: 5px;
    display: none;
    text-transform: lowercase;
}

.container .search-input .autoComplete-box li:hover {
    background: #111111;
    color: #999999;
}

.container .search-input .icon {
    position: absolute;
    top: -5px;
    right: 60px;
    width: 55px;
    height: 55px;
    line-height: 55px;
    padding: 0 30px 0 20px;
    font-size: 20px;
    color: #ccc;
    cursor: pointer;
    transition: 0.3s;
}
.container .search-input .icon:hover {
    color: #0984e3;
}

.container .search-input.active .autoComplete-box {
    padding: 12px 10px;
    opacity: 1;
    pointer-events: auto;
}

.container .search-input.active li {
    display: block;
}


.search-input {
    display: none;
}

.start {
    margin: 3rem;
    padding: 0.7rem 6rem 0.7rem 6rem;
    border-radius: 5px;
    border: none;
    color: #fff;
    background-color: #6097c2;
}

.start:hover {
    transform: 1s ease;
    background-color: rgb(75, 117, 255);
}

footer {
    display: none;
}

.fa-bars-staggered {
    font-size: 2rem;
    color: #222222;
}

.fa-moon {
    font-size: 2rem;
    color: #222222;
}

@media only screen and (max-width: 600px){
    footer {
        position: sticky;
        bottom: 0.5rem;
        width: 90%;
        height: 5rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: #444444;
        border: none;
        background-color: #111111;
        border-radius: 10px;
        font-size: 1.3rem;
    }

    footer i:hover {
        transition: 1s ease-in-out;
        transform: scale(1.2);
        color: rgb(75, 117, 255);
    }

    .weather-info {
        margin: 0rem 3rem;
    }
}

@media only screen and (min-width: 600px) {
    .weather-info {
        margin: 0rem 22rem;
    }
}